

            <div class='row mt-5'>
                <div class='col-5 card offset-4'>
                    <div class='row'>
                        <div class='col-5'>
                            <div class='coin-big'>
                                <i class="fa-solid fa-bolt"></i>
                            </div>
                        </div>
                        <div class='col'>
                            <div class='row'>
                                <div class='coin-name'>Crazy Coins</div>
                            </div>
                            <div class='row mt-5'>
                                <div class=''>
                                    <h5>    
                                        Total Crazy Coins :<span style=color:gold>totalCoins </span>
                                        <i class="fa-solid fa-bolt coin-small"></i>
                                        &nbsp; &nbsp; &nbsp;<i class="fa-solid fa-arrows-rotate" ></i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        
    


